**/.idea
**.iml
**/target
rdft-component/src/test/resources/file/result
rdft-component/src/test/resources/file/secret
graph-component/src/test/resources/file/result
rml-component/src/test/resources/file/result
/notes/
graph-component/src/generated
rml-component/src/generated/
rdft-component/src/generated/
