/.idea/
/rml-component/src/main/main.iml
/rml-component/src/test/resources/file/result/
/rml-component/src/test/test.iml
/rdft-component/src/test/resources/file/result/
/graph-component/src/test/resources/file/result/
/rdft-component/src/generated/
/graph-component/target/
/rml-component/src/generated/
