agency_id,agency_name,agency_url,agency_timezone,agency_lang,agency_phone,agency_fare_url,agency_email
#set ( $prefixes = $reader.setQueryHeader("
  	PREFIX foaf: <http://xmlns.com/foaf/0.1/>
  	PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
  	PREFIX dc: <http://purl.org/dc/elements/1.1/>
  	PREFIX gtfs: <http://vocab.gtfs.org/terms#>
  	PREFIX dct: <http://purl.org/dc/terms/>
  	PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
") )
#set ( $query = "SELECT *
		WHERE {
			?s a gtfs:Agency .          
			?s foaf:name ?agency_name .
      ?s foaf:page ?agency_url .      		
      OPTIONAL{ ?s gtfs:timeZone ?agency_timezone . }
      OPTIONAL{ ?s dct:language ?agency_lang . }
			OPTIONAL{ ?s foaf:phone ?agency_phone . }
      OPTIONAL{ ?s gtfs:fareUrl ?agency_fare_url . }
}")
#set ( $agencies = $reader.getDataframe($query) )
#if($functions.checkList($agencies))#foreach($s in $agencies)$functions.sp($s.s,'agencies/'),$s.agency_name,$s.agency_url,#if($s.agency_timezone)$s.agency_timezone#end,#if($s.agency_lang)$s.agency_lang#end,#if($s.agency_phone)$s.agency_phone#end,#if($s.agency_fare_url)$s.agency_fare_url#end,$functions.newline()#end#end
